body{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(head.jpg);
    color: white;
}

#number{
    width: 180px;
}
.all-section{
    display: flex;
    flex-direction: column;
}


@media (min-width:400px) and (max-width:3000px)
{
    .all-section{
     background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    width: 500px;
    margin: auto;
    color: black;
}
}
@media (min-width:400px) and (max-width:3000px){
    p{
        color: black;

    }
    .heading-dropwdown{
        color: black;
        font-weight: 900;
    }
    .re{
        color: black;
        font-weight: 900;

    }
    .se{
        color: black;
        font-weight: 900;

    }
    .final{
        color: black;
        font-weight: 900;

    }
    #description{
        color: black;
        font-weight: 900;

    }
    #title{
        color: black;
        font-weight: 900;

    }
}

h1{
    font-size: 3rem;
    color: whitesmoke;
    font-weight: 900;
}
p{
    color: rgb(3, 217, 255);
    font-weight: bold;
    font-size: 1.1rem;
}
input[type="text"] {
    padding: 12px;
    border: 3px solid grey;
    width: 200px;
  }
  input[type="email"] {
    padding: 12px;
    border: 2px solid rgb(0, 0, 0);
    width: 200px;
  }
  input[type="number"] {
    padding: 12px;
    border: 2px solid rgb(0, 0, 0);
    width: 210px;
  }

  input[type="checkbox"] {
    border: 2px solid rgb(0, 0, 0);
    
  }
  
  input[type="radio"] {
    border: 2px solid rgb(0, 0, 0);
    
  }

  #dropdown{
    padding: 7px;
  }



  #submit{
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(138, 175, 245);
  }

